---
import { otherprojects } from "../../data/otherprojects.json";
import data from "../../data/current_track.json" assert { type: "json" };
---
<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
    <div>
      <h3
      class="text-secondary text-base font-medium"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <span>About</span>
      <span class="font-bold">Me</span>
    </h3>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 text-secondary mx-auto my-auto gap-6">
      <img class="lg:col-start-2 my-auto mx-auto border-4 lg:w-64 border-secondary rounded-full" 
      src="https://media.licdn.com/dms/image/v2/C4D03AQF45Js8icOJ0w/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1570628862405?e=1736380800&v=beta&t=yPevhVkVJ3Zy0gIK_LeQifMlkm5g4Hf2OPDcElfzik4"
      data-aos="fade-up"
      data-aos-duration="2000"
      />
      <div class="grid grid-cols-2 lg:col-start-1 justify-self-center"
      data-aos="fade-up"
      data-aos-duration="2000">
      </div>

      <p
        class="text-base lg:col-start-1 lg:row-start-2  leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a self-taught full stack engineer with Big Data Experience. I love 
        bringing ideas to life with code and owning products end to end. 
        
        I have worked across start ups and larger organizations. I love developing solutions that benefit society
        especially projects in the emerging Green Tech Space

      </p>
      <p
        class="text-base lg:row-start-3 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      This site is currently written using Astro, Typescript, Tailwind CSS and uses Python for backed Data Processes in the background.
      </p>
      <p
        class="text-base un lg:col-start-2 lg:row-start-2 "
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        This site is currently written using Astro, Typescript, Tailwind CSS and uses Python for backed Data Processes in the background.
        This enables this site to be rendered and served as a static webpage without there being any need to provision a Database or Server management.
        All Data processes are run locally and then pushed to GitHub to be built. 

      </p>
      <p
        class="text-base lg:col-start-2 lg:row-start-3 "
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      Deployed using GitHub actions mean that I can automatically deploy this site whenever the underlying data changes. Using a standard workflow,
      the only limiting factor for deploying this is the free amount of build minutes per month on GitHub.
      </p>
      <p
      class="text-base lg:col-start-3 lg:row-start-2 "
      data-aos="fade-up"
      data-aos-duration="3000"
    >
      I am passionate about building projects that can stand the test of time and use best practices improving productivity and 
      enabling innovation for the future.
    </p>
    <p
    class="text-base lg:col-start-3 lg:row-start-3 "
    data-aos="fade-up"
    data-aos-duration="3000"
  >
  I am currently available for Enquires. If you need a landing page, data pipeline
  or just want to ideate on new products, do not hesitate to get in
  contact.
  </p>
          <div class="grid pt-4 grid-cols-2 lg:col-span-3 text-center lg:mt-16 justify-items-center">
      <a class="font-bold rounded-full w-56 hover:bg-secondary/10" href="/henry_maher/henry_maher_cv.pdf"> Download my cv </a>
      <a class="font-bold rounded-full w-56 hover:bg-secondary/10" href="mailto:henry.maher99@gmail.com"> Get In Touch </a>
    </div>
    </div>
  </div>
  </div>
</section>
</section>
