---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl py-6">
    <div>
      <h3
      class="text-secondary text-base font-medium"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <span>About</span>
      <span class="font-bold">Me</span>
    </h3>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 text-secondary mx-auto my-auto gap-6">
      <img class=" my-auto mx-auto border-4 border-secondary rounded-full lg:row-start-2 h-64 w-auto lg:col-start-" src="https://w7.pngwing.com/pngs/606/795/png-transparent-george-clooney-film-producer-actor-film-producer-george-clooney-celebrities-necktie-recruiter.png"
      data-aos="fade-up"
      data-aos-duration="2000"
      />
      <p
        class="text-base lg:col-start-2 lg:row-start-2  leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a self-taught front-end designer and developer who enjoys creating
        modern designs with Tailwind CSS. I have customers worldwide and have
        had successful projects. Recently, two of my projects were acquired, and
        I'm currently working on Lexington Themes. I also curate Colors &amp;
        Fonts and create VS Code Themes. 
      </p>
      <p
        class="text-base lg:col-start-2 lg:row-start-3 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently available for Enquires. If you need a landing page or
        redesign something that you already have, do not hesitate to get in
        contact. <a href="mailto:michael@andreuzza.com">michael@andreuzza.com</a
        >
      </p>
      <p
        class="text-base lg:col-start-3 lg:row-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a solo developer, I offer a unique and personalized approach to
        design and build exclusively and responsive landing pages using Astro
        and Tailwind CSS.
      </p>
      <p
        class="text-base lg:col-start-3 lg:row-start-3 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My singular focus on your project ensures efficient and effective
        results, delivering a stunning website tailored to your specific
        business needs and goals. Trust on my expertise allows to craft anything
        that will help you stand out and convert visitors into customers.
      </p>
    </div>
  </div>

</section>
