---
---
<section class="bg-primary">
    <div class="space-y-2">
        <!-- Section Title and Decorative Elements -->
        <div
          class="h-0.5 bg-secondary"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
        </div>
    <div class="px-8 2xl:max-w-7xl py-6">
    <h1 class="text-secondary text-base font-small"> what i'm listening to </h1>
</div>

</section>